/node_modules
/vendor
/public/frontend/images
/public/uploads
/public/storage
/public/asset/dist/img
/storage/*.key
/vendor
/public/file.csv
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.zip
*.jpg
*.png
